header {
    background-image: url(/fon-page2.jpg);
    max-width: 100%;
    width: 1920px;
    height: 1000px;
    
    background-repeat: no-repeat;
    

}
.link  {
   display: flex;
   justify-content: flex-end;
   flex-wrap: nowrap;
   margin-right: 10rem;
   
}
a {
   margin: 1rem 1rem; 
   color: antiquewhite;
   margin-top: 30px;
}
.slide_container {
 display: flex;
 justify-content: center;
 align-items: center;
 margin: auto auto;
 max-width: 100%;
 width: 500px;
 height: 600px;
 overflow: hidden;
 position: relative;
 font-size: 2rem;

 }
 .logo {
    margin-right: 15rem;
    color:antiquewhite ;
    font-size: 30px;
    
 }
 .lg {
    margin-top: 15px;
 }
 .slide {
   display: flex;
   justify-content: center;
   align-items: flex-end;
   position: absolute;
   animation: round 16s infinite;
   opacity: 0;
   width: 100%;
   color: crimson;
   font-family: 'Caveat', cursive;
   font-family: 'Montserrat Alternates', sans-serif;
   font-family: 'Pacifico', cursive;
 }
 
 @keyframes round {
   25% {
     opacity: 1;
   }
   40% {
     opacity: 0;
   }
 }
 p:nth-child(1) {
   animation-delay: 12s;
 }
 
 p:nth-child(2) {
   animation-delay: 8s;
 }
 
 p:nth-child(3) {
   animation-delay: 4s;
 }
 
 p:nth-child(4) {
   animation-delay: 0s;
 }


 