body {
  margin: 0%;
}
header {
    background-image: url(/image/fon-page2.jpg);
    max-width: 1400px;
    width: 100%;
    height: 800px;
    
    background-repeat: no-repeat;
    

}
.link  {
   display: flex;
   justify-content: flex-end;
   flex-wrap: wrap;
   margin-right: 10vw;
   
}
a {
   margin: 1rem 1rem; 
   color: antiquewhite;
   margin-top: 30px;
}
.slide_container {
 display: flex;
 justify-content: center;
 align-items: center;
 margin: auto auto;
 max-width: 100%;
 width: 500px;
 height: 400px;
 overflow: hidden;
 position: relative;
 font-size: 2rem;


 }
 .button_1 {
    align-self: flex-end;
    margin-bottom: 120px;
    background:#998675;
    color: #f9f8f7;
    border: none;
    padding: 10px;
 }
 .logo {
    margin-right: 15vw;
    color:antiquewhite ;
    font-size: 30px;
    
 }
 .lg {
    margin-top: 15px;
 }
 .slide {
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   animation: round 16s infinite;
   opacity: 0;
   width: 100%;
   color: crimson;
   font-family: 'Caveat', cursive;
   font-family: 'Montserrat Alternates', sans-serif;
   font-family: 'Pacifico', cursive;
 }
 
 @keyframes round {
   25% {
     opacity: 1;
   }
   40% {
     opacity: 0;
   }
 }
 .slide:nth-child(1) {
   animation-delay: 12s;
 }
 
 .slide:nth-child(2) {
   animation-delay: 8s;
 }
 
 .slide:nth-child(3) {
   animation-delay: 4s;
 }
 
 .slide:nth-child(4) {
   animation-delay: 0s;
 }

 .main_1 {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
 }

 .block {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  

 }
.q {
  display: flex;
  flex-direction: column;
  width: 250px;
  max-width: 100%;

}
 

 .image {
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 80px;
    background-repeat:no-repeat;
    background-color: #f9f8f7;
    max-width: 1920px;
    width: 100%;
    
    
 }
 .footer_1 {
  display:flex;
  background-image: url(/image/end-page.jpg);
  background-repeat: no-repeat;
  max-width: 1400px;
  width: 100%;
  
  
  
  
  
}
.text_footer_1 {
  display:flex;
  max-width: 1400px;
  width: 100%;
  height: 130px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  
  
  

 }
 .button_2 {
  background:#998675;
  color: #f9f8f7;
  border: none;
  height: 30px;
}

.text1 {
  font-family:'Tiro Bangla', serif;
  color: #f9f8f7;
  font-size: 30px;
 }
 
 #r {
  color: #c7b299;
  
 }

 #t {
  color:#615855;
  font-size: 15px;
 }
 
 .main_2 {
  display: grid;
  width: 1400px;
  max-width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 350px) 100px;
  margin: 0;
  column-gap: 5vw;
  row-gap: 4vw;
  
 }

 .item_1 {
  grid-column: 1/4;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family:'Tiro Bangla', serif;
  
 }
 .it_1 {
  width: 550px;
  max-width: 100%;
  font-size: 30px;
 }
 .but {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 550px;
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: -50px;
 }
.button_3 {
  background-color: #f9f8f7;
  
}
.button_3:hover {
  background-color: #615855;
}
 
.item_2 {
  background-image: url(/image/mobila.jpg);
  background-repeat: no-repeat;
}
.item_3 {
  background-image: url(/image/nutamus.jpg);
  background-repeat: no-repeat;
}
.item_4 {
  background-image: url(/image/usus.jpg);
  background-repeat: no-repeat;
}
.item_5 {
  background-image: url(/image/mountain.jpg);
  background-repeat: no-repeat;
} 
.item_6 {
  background-image: url(/image/book.jpg);
  background-repeat: no-repeat;
}
.item_7 {
  background-image: url(/image/rock.jpg);
  background-repeat: no-repeat;
}

.item_8 {
  grid-column: 1/4;
  
}
 .more {
  display: flex;
  justify-content: center;
}

 .button_4 {
  background:#998675;
  color: #f9f8f7;
  border: none;
  height: 30px;
 }

 .video {
  display: flex;
  background-image: url(/image/video.jpg);
   max-width: 1400px;
   width: 100%;
   height: 600px;
   
 }


 .main_3 {
  display: grid;
  width: 1400px;
  max-width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 640px 200px 100px 335px 200px;
 }

 .hitem_1 {
  grid-column: 1/4;
  display: flex;
  justify-content: space-around;
  background-color: #fbfaf8;
  
 }
 .mobila {
  background-image: url(/image/mobila_1.jpg);
  width: 450px;
  max-width: 100%;
  height: 640px;
 }
 
 .text_mobila {
  width: 500px;
  max-width: 100%;
  margin-top: 100px;
 }
 li {
  list-style-type: none;
  font-family:'Tiro Bangla', serif;
}
li::before {
  content: url(/image/strelochka.jpg);
  
 }
 p {
  font-family:'Tiro Bangla', serif;
 }
 .rt {
  font-size: 30px;
 }